/* h1{
  color: rgb(51, 32, 70);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.contain{
  columns: 3;
  column-gap: 5px;
  width:80%;
  margin: 2px auto;
}

.contain img{
  width: 100%;
  margin: 0;
  padding: 5px;
}
.nav{
  color: white;
}